
/* ===============
  Gridle - Grid system
  http://gridle.org
=============== */

@include gridle_generate_classes();

.gr-container {
    @include gridle_container();
    overflow-x: hidden;
}

.row {
    max-width: map-get($grid, maxwidth);
    margin: 0 auto;
}

.row-full {
    width: 100%;
    max-width: none;
    margin: 0 auto;
}
