
/* ===============
  Helper classes
=============== */

._text-center {
    text-align: center;
}

/* ===============
  Color variations
=============== */

@each $color, $hexacode in $colors {
    .-#{$color} { color: $hexacode; }
    .-bg-#{$color} { background-color: $hexacode; }
}
