
/* ===============
  Helper classes
=============== */

._text-center {
    text-align: center;
}

._text-right {
    text-align: right;
}

._text-left {
    text-align: left;
}

._spacings {
    margin: .75rem 0;

    @include gridle_state(tablet) {
        margin: 1rem 0;
    }
}

/* ===============
  Color variations
=============== */

@each $color, $hexacode in $colors {
    .-c-#{$color} { color: $hexacode; }
    .-bg-#{$color} { background-color: $hexacode; }
}
