
/* ===============
  Html & Body
=============== */

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: map-get($colors, white);

    @include antialias();
    @include fontstyle(_default);
    font-size: .95rem;
    line-height: 1.3;
    color: map-get($colors, black);

    @include gridle_state(tablet) {
        font-size: 1rem;
        line-height: 1.4;
    }

    @include gridle_state(giant) {
        font-size: 1.05rem;
        line-height: 1.5;
    }
}

/* ===============
  Tags rules
=============== */

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

strong { font-weight: bold; }

a {
    @include highlight(false);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* { box-sizing: border-box; }

@include selection {
    background-color: map-get($colors, black);
    color: map-get($colors, white);
}

img {
    @include highlight(false);
    max-width: 100%;
    height: auto;
}

p {
    max-width: 100%;
    margin: .5rem 0;

    @include gridle_state(tablet) {
        margin: 1rem 0;
    }
}
