
/* ===============
  Button base
=============== */

@mixin button() {
    @include highlight(false);
    width: auto;
    line-height: inherit;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    text-transform: inherit;
    font: inherit;
    color: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* ===============
  Native buttons
=============== */

button {
    @include button();
}

/* ===============
  Custom buttons
=============== */

.button {
    @include button();
    font-size: 0.9rem;
    border: 2px solid;
    border-radius: 3px;
    padding: .55rem 1.3rem;

    @include gridle_state(tablet) {
        font-size: 1.2rem;
        padding: .65rem 1.5rem;
    }

    @include gridle_state(giant) {
        font-size: 1.3rem;
    }
}
