
/* ===============
  Scrollbar mixin
=============== */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.m-scrollbar {
    position: relative;
    width: 100%;
    height: 100%;

    .m-scrollbar-area {
        height: 100%;
    }
}

/* ===============
  Content Area
=============== */

.m-content-area {
    margin: 3rem 0;
    @include gridle_state(tablet) {
        margin: 6rem 0;
    }
    padding: 0 1.5rem;
    @include gridle_state(tabletPortrait) {
        padding: 0 4rem;
    }
    @include gridle_state(giant) {
        padding: 0;
    }
    &.m-content-area-no-margins {
        margin: 0;
    }
}

/* ===============
  Sprite mixin
=============== */

.m-sprite {
    position: relative;
    display: block;
    fill: currentColor;
    overflow: hidden;
    pointer-events: none;
}

.m-sprite-fallback {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

/* ===============
  Vertical align mixin
=============== */

.m-valign {
    &.-top {
        @include valign(top);
    }

    &.-middle {
        @include valign(middle);
    }

    &.-bottom {
        @include valign(bottom);
    }

    &.-disable {
        display: block;
        height: auto;

        & > * {
            display: block;
            height: auto;
        }
    }
}
